<div class="container-fluid">
	<div class="row-fluid">
		<div class="span10 offset1">
			<nav>
				<ul class="nav pull-left">
					<%= link_to 'DansCode', root_path, :id => "logo" %>
				</ul>
				<ul class="nav nav-tabs pull-right">
					<li><%= link_to 'Home', root_path %></li>
					<li class="dropdown">
						<a class="dropdown-toggle" href=<%= projects_path %> data-hover="dropdown">
							Projects
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
			        <li><a href=<%= projects_path + "/current_projects" %>>Current Projects</a></li>
			       	<li><a href=<%= projects_path + "/past_projects" %>>Past Projects</a></li>
			       	<li><a href=<%= projects_path + "/papers_and_major_presentations" %>>Papers and Major Presentations</a></li>
				    </ul>
					</li>
					<li><%= link_to 'About Me', about_path %></li>
					<li><%= link_to 'Contact Us', contact_path %></li>
					<li><%= link_to 'Hire Me', hireme_path %></li>
				</ul>
			</nav>
		</div>
	</div>
</div>
<script type="text/javascript">
	danscode.actions.header();
</script>
